/* .slide-track {
  width: cals(250px * 6);
  animation: scroll 40% linear infinite;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
}

img {
  width: 100%;
  transition: transform 1s;
}


.slide-track {
  animation: scroll 40% linear infinite;
} */

/* .slide-track:hover {
  animation-play-state: paused;
} */

/* .slide-track {
  animation: scroll 40% linear infinite;
}
* .slide-track:hover {
  animation-play-state: paused;
} */
* .slide-track {
  animation-duration: 10s;
  animation-name: scroll;
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(250px * 6));
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
